* {
  box-sizing: border-box;
}

.header {
  border: 1px solid red;
  padding: 15px;
  margin: 0;
}

.main {
  width: 40%;
  height: 30vh;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.chart {
  width: 60%;
  height: 30vh;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.bottom_chart {
  width: 100%;
  height: 55vh;
  float: left;
  padding: 15px;
  border: 1px solid red;
}
